*.java
*.mp*
*.tar
*.jar
*.zip
*.gz
*.pyc
*.class
*.json
*.results
*.pdf
*.ppt*
*.list
*.xml
._*
submit*
*.html
subtitles_13.txt
pa1-spamlord-v2/data/
pa1-spamlord-v2/peter.data/
pa3-sentiment-nlp-v4/data/
pa3-sentiment-nlp-v4/results/
pa4-ner/data/
pa4-ner/results/
.settings/
 